.translucent {
    opacity: 0.4;
    filter: alpha(opacity = 40); /* For IE */
}
#container {
    position: relative;
    width: 200px;
    height: 200px;
}
#background, #content {
    position: absolute;
    top: 0;
    left: 0;
}
#background {
    background-image: url(../images/office.png);
}
hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
}

#bgdiv {
    
  /*width: 200px;*/
  height: 400px;
  display: block;
  position: relative;
}

#bgdiv::after {
  content: "";
  background: url(../images/office/office-smartphone.jpg);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

@font-face {
    font-family: 'EkMukta';

    src: url('../fonts/Ek_Mukta/EkMukta-Regular.ttf') format('truetype');
    src: url('../fonts/Ek_Mukta/EkMukta-Medium.ttf') format('truetype');
    src: url('../fonts/Ek_Mukta/EkMukta-Bold.ttf') format('truetype');

    src: url('../fonts/Ek_Mukta/EkMukta-Light.ttf') format('truetype');
    src: url('../fonts/Ek_Mukta/EkMukta-SemiBold.ttf') format('truetype');
    src: url('../fonts/Ek_Mukta/EkMukta-ExtraBold.ttf') format('truetype');
    src: url('../fonts/Ek_Mukta/EkMukta-ExtraLight.ttf') format('truetype');
}
.ectext {
    font-family: 'EkMukta';
    font-style: normal;
    font-weight: normal;
}

.text-underline {
  text-decoration: underline;
}
.text-bold {
  font-weight: bold;
}
