/* moved this into the HTML files
@font-face {
    font-family: 'EkMukta';
    src: url('../fonts/Ek_Mukta/EkMukta-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'EkMukta';
    src: url('../fonts/Ek_Mukta/EkMukta-Bold.ttf') format('truetype');
    font-weight: 700;
}


@font-face {
    font-family: 'EkMukta';
    src: url('../fonts/Ek_Mukta/EkMukta-ExtraLight.ttf') format('truetype');
    -webkit-font-smoothing: antialiased;
    font-weight: 200;
} */

.ectext {
    font-family: 'Ek Mukta', sans-serif;
    /*font-style: normal; */
    font-weight: 200;
}

.translucent {
    opacity: 0.4;
    filter: alpha(opacity = 40); /* For IE */
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

a, a:link, a:visited {
    color: white;   
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 55px; 
    font-weight: 200;
    color: white;
    margin: 15px 0 20px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

h1.dark {
    color: #46555f;
}

h2 {
    font-size: 35px; 
    font-weight: 700;
    margin: 0 0 15px;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}

h2 a:hover, h2 a:link, h2 a:visited {
    color: ##46555f; 
    text-decoration: none;
}


h3 {
    margin: 0;
    padding: 0;
    color: #f15c22;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
}

h4 {
    font-size:35px; 
    font-weight: 200;   
}
a.button-underline {
    font-size: 20px; 
    font-weight: 700;
    color: white;
    border-bottom: 3px solid white;
    margin: 100px 0 50px 0;
    padding-bottom: 9px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

a.button-underline:hover {
    color: #ccc;
}

a.button-box, input.button-box {
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 700;
    color: white;
    border: 3px solid white;
    padding: 22px 40px;
    margin: 50px auto 20px;
    text-align: center;
    display: block;
    max-width: 170px;
    width: 100%;
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    -ms-transition: background 0.1s linear;
    -o-transition: background 0.1s linear;
    transition: background 0.1s linear;
}

a.button-box:hover {
    background-color:white;
    color: #f15c22;
    text-decoration: none;
}

a.orange {
    color: #f15c22;
    border-color: #f15c22;
}

a.orange:hover {
    background-color: #f15c22;
    color: white;
}

input.orange:hover {
    background-color: #f15c22;
    color: white;
}



p {
    font-size: 28px; 
    line-height: 44px;
    margin-top: 20px;
}

p.small {
    font-size: 22px; 
    line-height: 32px;
    xpadding-right: 40px;
}

section {
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 200; 
    -webkit-font-smoothing: antialiased;
    padding: 80px 0;  
    width: 100%;
}

body#blog section {
    padding: 50px 0;
}

.row {
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
    padding: 0 35px;
}

blockquote {
    /* border: 1px solid #fff; */
    border: none;   
    color:#fff; 
    padding: 55px 100px 65px;
    margin: 180px 0 150px;
    font-size: 70px;
    font-weight: 400;
    line-height: 80px;
    /* clip-path: inset(10px 20px 30px 40px); */
    -webkit-font-smoothing: antialiased;
    
}

.star {
    opacity: 0;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-delay: 0.5s;
    animation-duration: 0.4s;
    animation-delay: 0.5s;
}

#blockquote {
    -webkit-animation-duration: 0.4s;
    -webkit-animation-delay: 0s;
    animation-duration: 0.4s;
    animation-delay: 0s;
    opacity: 0;
}

#contract-8a-solesource {
    -webkit-animation-duration: 0.4s;
    -webkit-animation-delay: 0.2s;
    animation-duration: 0.4s;
    animation-delay: 0.2s;
}

#contract-fbi-itsc {
    -webkit-animation-duration: 0.4s;
    -webkit-animation-delay: 0.3s;
    animation-duration: 0.4s;
    animation-delay: 0.3s;
}

#contract-fbi-itsss {
    -webkit-animation-duration: 0.4s;
    -webkit-animation-delay: 0.4s;
    animation-duration: 0.4s;
    animation-delay: 0.4s;
}

#contract-8a-stars2 {
    -webkit-animation-duration: 0.4s;
    -webkit-animation-delay: 0.5s;
    animation-duration: 0.4s;
    animation-delay: 0.5s;
}

.pulse-animate {
    -webkit-animation-duration: 0.5s;
    -webkit-animation-delay: 0.8s;
    animation-duration: 0.5s;
    animation-delay: 0.8s;
}

blockquote#blockquote-blog {
    /* border: 1px solid #fff; */
    border: none;   
    color:#46555f; 
    padding: 55px 100px 65px;
    margin: 180px 0 45px;
    font-size: 70px;
    font-weight: 400;
    line-height: 80px;
    /* clip-path: inset(10px 20px 30px 40px); */
    -webkit-font-smoothing: antialiased;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-delay: 0s;
    animation-duration: 0.4s;
    animation-delay: 0s;
}



@media only screen and (max-width: 768px) {
}

#content {
    position: relative;
    z-index: 50;
    top: 598px;
    background-color: white;
}

body#home #content {
    
    top: 810px;
}

body#blog #content {
    top:0px;
}

body#job-posting #content, body#contract #content, body#contact-us #content {
    top:140px;
}

header {
    background-color: #455560;
    top:0;
    left: 0;
    display:none;
    position: fixed;
    width: 100%;
    height: 140px;
    z-index: 10000;
    display: none;
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

header a.eclogo img {
    width:295px;
    height: 52px;
    margin-top: 40px;
    background: url(../images/logo_ec_white2x.png) no-repeat top left;
    background-size: 295px 52px;
}


/********** TOP SECTION *********/

canvas {
    opacity: 0;
}

div#header {
    padding: 37px 0 80px;
    top:0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 1000;
}

.header-showing {
    background-color: #455560; 
}

section#top {
    position: fixed;
    padding-top: 45px;
    text-align:center;
    background: black url(../images/home-masthead-gray-image2.jpg) no-repeat top center fixed;
    background-size: cover;
    /* 
    Commented out because it was disabling the links -- not sure it's needed.
    z-index: -100; 
    */
}

body#blog section#top {
    position:inherit;
}

body#aboutus section#top {
    background: url(../images/bg_header_aboutus.jpg) no-repeat top center fixed;
    background-size: cover;
}

body#offerings section#top {
    background: url(../images/bg_offerings_header.jpg) no-repeat top center fixed;
    background-size: cover;
}

body#team-culture section#top {
    background: url(../images/bg_header_culture2.jpg) no-repeat top center fixed;
    background-size: cover;
}

body#resources section#top {
    background: url(../images/bg_header_resources2.jpg) no-repeat top center fixed;
    background-size: cover;
}

body#contact-us section#top {
    background: url(../images/bg_header_contact.jpg) no-repeat top center fixed;
    background-size: cover;
}

body#blog section#top {
    background: #fff;
}

body#blog section#one a {
    color: #f15c22; 
}

body#blog section#blog-nav {
    padding-top:0;
}

div.blog-nav-next a {
    background: #f7f7f7 url(../images/icon_blog_next2x.png) no-repeat center center; 
    background-size: 48px 15px;
    padding:15px 20px; 
    width:100px;
    float:right;
}

div.blog-nav-prev a {
    background: #f7f7f7 url(../images/icon_blog_prev2x.png) no-repeat center center; 
    background-size: 48px 15px;
    padding:15px 20px; 
    width:100px;
    float:left;
}

a.eclogo img {
    display:inline-block;
    width:295px;
    height: 52px;
    float: left;
    background: url(../images/logo_ec_white2x.png) no-repeat top left;
    background-size: 295px 52px;
    margin-top:3px;
}

section#job-post {
    color: #46555f;
    
}

section#job-post li a {
    color: #46555f;
    text-decoration: underline;
    
}

section#job-post h1 {
    border-bottom: 1px solid #e4e4e4;
    padding: 0 0 30px;
}

section#job-post div.job-info-box {
    background-color: #f7f7f7;
    margin:20px 0 50px;
    padding: 40px;
    color: #46555f;
    font-size: 25px;
}

section#job-post div.job-info-box a {
    color: #f15c22;
    font-weight: 200;
}

section#job-post h3 {
    color: #46555f;
    font-size: 25px;
    margin-top: 15px;
}

section#job-post ul {
    margin: 30px 0 50px;
    padding-left:25px;

}

section#job-post li {
    font-size: 20px;
    margin: 0 0 15px;
}

section#job-post div.job-info-box h3 {
    margin-bottom: 30px;
    
}

section#job-post div.job-info-box p {
    margin: 5px 0 25px;
    
}

section#job-post div.job-post-details p {
    font-size: 20px; 
    line-height: 30px;
    margin-bottom: 25px;
}

@media only screen and (max-width: 985px) {
    blockquote {
        font-size: 60px;
        line-height: 70px;
    }
}

@media only screen and (max-width: 975px) {
    a.eclogo img {
        width:70px;  
    }
    
    header a.eclogo img {
        width:70px;  
    }
}

@media only screen and (max-width: 885px) {
    ul li.cta {
        display:none;
    }
    blockquote {
        font-size: 55px;
        line-height: 65px;
    } 
}



section#top .row img {
    float:left;   
}

section#top ul.navbar {
    margin-top: 0;
}

ul.navbar {
    float:right;
    color: #fff;
    padding:0;  
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    list-style: none;
    margin-top: 37px;
}

ul.navbar li {
    float:left;
    padding: 8px 0;
}

ul.navlinks {
    margin-top: 37px;
}

section#top ul.navlinks {
    margin-top: 0;
}

ul.navlinks li {
    margin: 10px 0 0 25px;
}

ul.navbar li.selected a {
    border-bottom: 3px solid white; 
}

ul.navbar li a:hover {
    border-bottom: 3px solid #aaa;
    text-decoration: none;
}

ul.navbar a.cta {
    border: 1px solid white;
    margin-left: 18px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 8px 11px;
    font-size: 16px;
    outline: none;
}

ul.navbar li a.cta:hover {
    border: 1px solid white;
    background-color: white;
    color: #455560;
    text-decoration: none;
}

ul.navbar a.cta.selected {
    border: 1px solid white;
    background-color: white;
    margin-left: 18px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 8px 11px;
    font-size: 16px;
    color: #455560;
}

ul li.hamburger {
    float:right;   
    color: white;
    border: 3px solid white;
    padding: 8px 12px;
    display: none;
}

section#top div.row img.star {
    position:relative;
    top:-165px; 
    clear:both; 
    margin:0; 
    float:none;  
}

section#top div.row img.star.blog {
    position:relative;
    top: -60px; 
    clear:both; 
    margin:0; 
    float:none;  
}

@media only screen and (max-width: 720px) {
    ul.navlinks {
        display:none;
    }   
    ul li.hamburger {
        display:block;   
    }

    a.eclogo img {
        width:295px;  
    }
    
    header a.eclogo img {
        width:295px;  
    }
}

@media only screen and (max-width: 450px) {
    a.eclogo img {
        width:70px;  
    }
    
    header a.eclogo img {
        width:70px;  
    }
}

/********** OUR PROMISE *********/

section#promise {
    top: 800px;
    background-color: #f15c22; 
    color: #fff;
    font-size: 20px;
}


section#promise img {
    margin: 0 0 25px;   
}

section#promise a.button-box {
    max-width: 220px;  
    width: 100%;
}


/********** OUR OFFERINGS *********/

section#our-offerings {
    background: url(../images/bg_two_grays.png) repeat-y top center;
    padding-bottom: 10px; /* the nested UL has a large bottom padding so no need for much of a bottom padding on the section */
}

section#our-offerings ul {
    color:white;
    margin: 30px 0 100px 0;
    padding:0;
}
section#our-offerings ul li {
    list-style: none;
    margin:20px 0;
    font-size: 28px;
}

section#our-offerings ul li.last {
    list-style: none;
    margin:50px 0 50px;
}




/********** OUR CLIENTS *********/

section#our-clients h1 {
    color: #46555f;
}

section#our-clients div img.logo {
    height: 150px;   
    margin: 35px 0;
}

section#our-clients div  {
    text-align: center;
    font-size: 20px;
    color: #46555f;
}


section#our-clients a.button-box {
    max-width: 350px;
    width:100%;
}

/******** HUNGRY SECTION **********/

section#hungry  {
    background: #f15c22 url(../images/photo-home-atwhiteboard3.jpg) repeat-y top right; 
    color: #fff;
    padding: 0;
}

section#hungry a.button-box {
    max-width: 300px;
    width: 100%;
    margin: 20px 0 80px;
}

section#hungry div.row {
    /* margin:0; padding: 0;  */ 
}

section#hungry p {
    font-size: 22px; 
    line-height: 32px;
    padding-right: 40px; 
}

section#hungry div.no-image {
    /* width: 45%;  */ 
    background-color: #f15c22;
    height: 100%;
}

section#hungry h1 {
    text-align: left;
    margin: 50px 0 40px;
    padding: 35px 60px 0 0;
}

/******** QUOTE SECTION **********/

section#quote blockquote {
    border: none;
    color:#455560; 
    padding: 65px 50px;
    margin:0 0 30px 0;
    font-size: 35px;
    font-weight: 200;
    line-height: 55px;
    clip-path: inset(10px 20px 30px 40px);
    -webkit-font-smoothing: antialiased;
}

.quote-cap {
    position: relative; 
    top: 43px; 
    width: 90px; 
    height: 90px; 
    margin:0 auto; 
    background-color: #e3e8eb; 
    color: #f15c22; 
    font-family: 'Ek Mukta', sans-serif;
    font-weight: 200; 
    font-size: 142px; 
    border-radius: 50%; 
    line-height: 190px;
    z-index: 10000;
}

/******** GET TO KNOW US SECTION **********/

section#get-to-know  {
    background: #46555f url(../images/photo_home_deskstill_narrow.jpg) no-repeat top left;
    color: #fff;
    padding: 0;
}

section#get-to-know div.no-image {  
    background-color: #46555f;
}

section#get-to-know a.button-box {
    font-weight: 800;
    max-width: 200px;
    width: 100%;
    padding: 20px 40px;
    margin: 20px 0 80px 60px;
}

section#get-to-know a.button-box:hover {
    color: #46555f;   
}

section#get-to-know p {
    font-size: 22px; 
    line-height: 32px;
    padding-left: 60px;
    margin-bottom: 45px;
}

section#get-to-know h1 {
    text-align: left;
    margin-top: 60px;
    padding: 35px 0  0 60px;
}

/******** FROM THE BLOG SECTION **********/

section#from-the-blog {
    background-color: #f7f7f7;    
}


section#from-the-blog h1 {
    color: #46555f;
}

section#from-the-blog h2 {
    color: #46555f;
    margin-top: 35px;
}

section#from-the-blog p {
    margin-top: 22px;
    color: #46555f;
    font-size: 20px;
    line-height: 32px;
}

section#from-the-blog a.button-box {
    max-width: 370px;
    width: 100%;
}


/******** LOGOS ***********/
section#logos h1 {
    color: #46555f;
}

section#logos div img.logo {
    height: 150px;   
    margin: 35px 0;
}

section#logos div  {
    text-align: center;
    font-size: 20px;
    color: #46555f;
}


section#logos a.button-box {
    max-width: 350px;
    width:100%;
}


/******** FOOTER **********/

section#footer, body#blog section#footer {
    background-color: white;   
    padding-top: 40px;
    padding-bottom: 50px;
}

body#offerings section#footer, body#team-culture section#footer, body#blog section#footer {
    border-top: 1px solid #e3e8eb;
}

section#footer a, section#footer a:link, section#footer a:visited, section#footer a:hover {
    color: white;   
    border-bottom: 1px solid white;
    text-decoration:none;
}

section#footer div#social-images {
    margin-top: 15px;
}

section#footer a img {
    padding: 20px 9px;
}

section#footer a.button-box {
    margin: 50px 0 20px;
    max-width: 200px;
    padding: 22px 25px;
    float: none;
}

section#footer a.button-sign-up {
    position: absolute; 
    right: 15px;
    text-align: center;
    width: auto; 
    background-color: #f15c22;
    border-bottom: none;
    color: white;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 22px 25px;
    height: 72px;
    margin: 0;
}

section#footer div#sign-up-control {
    text-align: left;
    background-color: #f7f7f7;
    width: 100%;
    margin-top: 15px;
}

section#footer div#sign-up-control h4 {
    height: 72px;
    padding: 25px 20px;
    text-align: left;
    font-weight: 700;
    font-size: 18px;
}

section#footer div#sign-up-control ul.parsley-errors-list {
    display: none;
}

section#footer input {
    text-align: left;
    left: 0;
    height: 72px;
    width: 70%;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 700;
    background: transparent;
    margin: 0;
}

body#contact-us section#footer input {
    margin-top: 0;
}

section#footer p, body#blog section#footer p {
    color: #455560;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 0px;
    text-align: left;
}

section#footer p.sign-up-label {
    margin-top: 20px;
    font-weight: 200;
    font-size: 16px;
    text-align: left;
    display: none;
}

section#footer a.button-box {
    margin:0;
    padding: 22px 18px;
    height: 72px;
    border: none;
    background-color: #f15c22;
    max-width: none;
    margin-top: 15px;
}

.img-link {
    text-decoration: none;
}

/*********** SUB-FOOTER ************/

section#sub-footer {
    font-size: 12px;
    border-top: 1px solid #e3e8eb;
    padding-top: 40px;
    padding-bottom: 20px;
    background-color: white;
}

section#sub-footer ul {
    float: right;
    list-style: none;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

section#sub-footer ul li {
    float:left;
    margin: 0 15px 30px 0; 
    padding-left: 0;
    text-align: left;     
}

section#sub-footer ul li a {
    color: #455560;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

section#sub-footer img {
    margin-right: 10px;
    height: 20px;
}

section#sub-footer p, body#blog section#sub-footer p {
    float: left;
    font-size: 12px;
    margin: 0 0 20px 0;
    line-height: 22px;
}

/*********** OFFERINGS ************/

section#services {   
    background-color: #46555f;
}

section#services p { 
    color: white;
    margin-bottom: 80px;
}

section#services div div {
    border-top: 1px solid gray;  
    padding: 80px 60px 40px 60px;
}

section#services div.one, section#services div.two { /* no border on the top row - this is modified via media queries */
    border-top: none; 
    padding: 80px 60px 40px 60px;
}

section#services div.one, section#services div.three, section#services div.five, section#services div.seven, section#services div.nine {
    border-right: 1px solid gray;
}

section#services div img {
    width: 100%;
    max-width: 240px;
}

section#services div h1 {
    font-size: 40px;
}


/*********** OUR APPROACH ************/

section#our-approach div.col-md-4 {
    text-align:left;
    padding: 0 20px 40px 20px;
}

section#our-approach div.col-md-4 img {
    width: 100%;
    max-width: 282px;
}

section#our-approach h1 {
    color: #515151;
}

section#our-approach p  {
    font-size: 20px;
    color: #515151;
    font-weight: 200;
    line-height: 30px;    
}

/*********** OUR TEAM ************/

section#our-team h1 {
    color: #46555f;
}

section#our-team div.col-md-6 {
    text-align:left;
    padding: 0 40px 40px 40px;
}

section#our-team div.col-md-6 img {
    width: 100%;
    max-width: 317px;
}

section#our-team div.col-md-12 {
    margin-bottom: 20px;
}

section#our-team div.col-md-6 h1 {
    text-align: left; 
    color: #46555f;
    margin-bottom: 30px;
}

section#our-team a.button-box {
    max-width: 300px;
    width: 100%;
}

body#team-culture section#photos {
    background: #455560 url(../images/photo_culture_combined2.jpg) no-repeat center center;
    height: 600px;
}

body#aboutus section#photos {
    background: #455560 url(../images/photo_aboutus_combined.jpg) no-repeat center center;
    height: 600px;
}

section#browse-contracts {
    background-color: #f7f7f7;   
}

section#case-studies {
    background-color: #f7f7f7; 
    color: #455560;
}

section#case-studies a {
    background-color: #fff; 
    color: #455560;
}

section#contact-form {
    background-color: #f7f7f7; 
    color: #455560;
}

section#contact-form input.button-box {
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 700;
    color: white;
    border: 3px solid white;
    padding: 22px 40px;
    margin: 50px auto 20px;
    text-align: center;
    display: block;
    max-width: 170px;
    width: 100%;
    background-color: transparent;
}

section#contact-form input.orange {
    color: #f15c22;
    border-color: #f15c22;
}


section#contact-form input.orange:hover {
    background-color: #f15c22;
    color: white;
}

section#case-studies div.col-md-4 {
    background-color: white;
    height: 300px;
    border: 1px solid #e3e8eb;
    padding: 55px 30px;
}

section#case-studies div.col-md-4 img {
    height: 110px;
}

section#case-studies div.col-md-4 p {
    line-height: 37px;
}

section#browse-contracts a {
    text-decoration: none;
    display: block;
}

a div.block {
    padding: 30px;  
    margin: 15px 0;
    background-color:#E3E8EB;
    color: #455560;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover div.block {
    background-color: #ced2d8;
    text-decoration: none;
}

section#white-papers div.block {
    background-color:#ff7447;
    color: white;
    text-transform: none;
    text-align: left;
    font-size: 28px;
    font-weight: 700;
    
}

/******* Contact Form Styles ***********/

body#contact-us input, body#contact-us textarea  {
    border: none;
    font-size: 18px;
    font-weight: 700;
    padding: 15px 18px;
    margin-top: 20px;
}

body#contact-us textarea {
    height: 250px;   
}

/********* PARSLEY STYLES **********/
input.parsley-error, select.parsley-error, textarea.parsley-error {
    background-color: #F2DEDE;  
}

ul.parsley-errors-list {
    list-style: none;   
    padding: 0;
    margin: 0;
}

ul.parsley-errors-list li {
    padding: 0;
    margin: 0;
}

body#aboutus a.button-box {
    max-width: 425px; 
    width: 100%;
}

section#white-papers {
    background-color: #f15c22;
}

section#our-headquarters {
    background-color: #f15c22;
    color: white;
}

section#our-headquarters p {
    text-align: left;
    font-size: 35px;
    padding: 30px 0;
}

section#our-headquarters h1 {
    text-align: left;
}

section#our-headquarters img {
    max-width: 517px;
    width: 100%;
}

section#blog-categories {

    text-align: center;
}

/************** Blog Category Navigation ************/

ul.category-nav {
    display:inline-table; /* to get the UL to be centered */
    list-style: none;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 0;
    width: auto;
}

ul.category-nav li {
    clear:none;
    display: inline-table; /* to get the li's to wrap and always be centered across multiple lines */
    margin: 0 15px 15px 0;
}

ul.category-nav li a {
    display:block;
    padding: 10px 20px;
    border: 1px solid #e3e8eb;
    color: #46555f;
    min-width: 150px;
}

ul.category-nav li a:hover, ul.category-nav li.current-cat a {
    background-color: #e3e8eb;
    text-decoration: none;
}

ul.category-nav li a.last {
    margin-right: 0;
}

body#blog h2 {
    background: #fff url(../images/separator_flagstripes.png) no-repeat bottom left;
    padding-bottom: 35px;
    margin-bottom: 20px;
    color: #46555f;
}

body#blog p {
    color: #46555f;
    font-size: 20px;
    line-height: 30px;
    font-weight: 200;
}

div.blog-attributes {
    margin-bottom: 20px;
}

span.author {
    font-size: 22px;
    font-weight: 400;
    margin-right: 30px;
    margin-bottom: 15px;
}

span.author a {
    font-weight: 700;
    color: #46555f;
}

span.date-posted {
    font-size: 22px;
    font-weight: 700;
    color: #b0b7bc;
    margin-right:30px;
    margin-bottom: 15px;
}

span.category {
    display: inline-table;
    font-size: 18px;
    font-weight: 700;
    color: #46555f;
    margin: 10px 15px 10px 0;
    padding: 8px 15px;
    background-color: #e3e8eb;
    text-transform: uppercase;
    text-align: center;
}
body#blog section#one span.category a {
    color:#46555f;

}
span.blog-separator {
    text-align: center;
    display: block;
    margin: 40px 0 0 0;

}

section#from-the-blog article a:hover {

    text-decoration: none;
}

/*********** CASE STUDY ************/
section#case-study {
    color: #455560;
}

section#case-study h1 {
    color: #455560;
    text-align: left;
}

section#case-study div {
    text-align: left;
    font-size: 28px; 
    line-height: 44px;
}

section#case-study div.row div {
    padding: 2em;
}

/*********** JOB LISTINGS ************/

section#job-listings div.row p {
    text-align: left;
}

section#job-listings div.arrowblock {
    padding: 10px;  
    margin: 15px 0;
    background-color:#E3E8EB;
    color: #455560;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

section#job-listings p { 
    line-height: 28px; 
    font-weight: 200;
    font-size:20px;
    text-align: right;
}

section#job-listings p.col-sm-3 { 
    text-align: right;
}

section#job-listings p a {
    color: #46555f;
    font-size: 25px;
    font-weight: 700;
    
}

section#job-listings div.blog-nav-prev, section#job-listings div.blog-nav-next {
    margin-top:40px;
}

section#job-listings div.col-sm-12 {
    text-align: center; 
}

section#what-its-like {
    background-color: #f7f7f7;   
}

@media only screen and (max-width: 1108px) {

    section#sub-footer ul {
        float:left;
    }
}

@media only screen and (max-width: 991px) {

    section#hungry {
        background-image: none;
        text-align: center;
    }

    section#hungry p {
        text-align: center;
        padding-right: 0;
    }

    section#hungry h1 {
        padding-right: 0;
        text-align: center;
    }

    section#hungry a.button-box {
        margin-left: auto;
        margin-right: auto;
    }

    section#get-to-know  {
        background-image: none;
    }

    section#get-to-know h1, section#get-to-know p {
        padding-left: 10px;
        text-align: center;
    }

    section#get-to-know a.button-box {
        margin-left: auto;
        margin-right: auto;
    }

    body#aboutus section#photos {
        background-position: 0px 0px;
    }

    body#team-culture section#photos {
        background-position: -225px 0px;
    }

    section#our-team div.col-md-6 {
        padding: 20px 0 40px 0;
    }

    section#our-team div.col-md-6 h1 {
        text-align: center;
    }

    section#services div.row div.col-md-6 {
        border: none;  
        border-bottom: 1px solid gray; 
    }

    section#services div.row div.eight {
        border: none;  
    }

    section#sub-footer div {
        text-align: left;
    }

    section#sub-footer ul {
        display: none;
    }

}

@media only screen and (max-width: 767px) {
    section#our-offerings {
        background-image: none;
        background-color: #5b6c77;
    }

    body#aboutus section#photos {
        background-position: 0px 0px;
    }

    
}

@media only screen and (max-width: 600px) {
    blockquote {
        font-size: 40px;
        line-height: 50px;
        padding: 30px;
    }

    section#footer input::-webkit-input-placeholder {
       position: relative;
       left: -10000px;
    }

    section#footer input:-moz-placeholder { /* Firefox 18- */
       position: relative;
       left: -10000px;
    }

    section#footer input::-moz-placeholder {  /* Firefox 19+ */
       position: relative;
       left: -10000px; 
    }

    section#footer input:-ms-input-placeholder {  
       position: relative;
       left: -10000px; 
    }

    section#footer p.sign-up-label {
        display: block;
    }

}

/* iphone 6 plus */
@media only screen and (max-width: 414px) {
    blockquote {
        font-size: 35px;
        line-height: 45px;
        padding: 30px;
        margin-top: 150px;
    }


    body#home #content {
      top: 680px;
    }

    body#team-culture #content {
      top: 450px;
    }
    body#team-culture blockquote {
        margin-top: 150px;
    }

    body#aboutus #content {
      top: 550px;
    }
    body#aboutus blockquote {
        margin-top: 150px;
    }

    body#offerings #content {
      top: 550px;
    }
    body#offerings blockquote {
        margin-top: 150px;
    }

    section#services div.col-lg-6 {
        border-top: none;  
        padding: 20px 10px 20px 10px;
    }

    .row {
        padding: 0 15px;
    }

    body#team-culture section#photos {
        background-position: -450px 0px;
    }

    section#our-team div.col-md-6 {
        text-align:left;
        padding: 40px 0 0 0;
    }

    section#our-headquarters h1 {
        font-size: 40px;
    }

    section#our-headquarters p {
        font-size: 24px;
        line-height: 34px;
    }

    section#footer a.button-sign-up {
        padding: 15px 10px;
        height: 60px;
    }

    section#footer input {
        padding: 15px 10px;
        height: 60px;
    }

    section#footer a.button-box {
        padding: 15px 10px;
        height: 60px;
    }

    
}

/* iphone 6 portrait */
@media only screen and (max-width: 375px) {
    blockquote {
        font-size: 35px;
        line-height: 45px;
        padding: 30px;
        margin-top: 130px;
    }

    body#home #content {
      top: 620px;
    }
}


/* iphone 5 portrait */
@media only screen and (max-width: 320px) {
    blockquote {
        font-size: 30px;
        line-height: 40px;
        padding: 30px;
        margin-top: 80px;
    }

    body#home #content {
      top: 530px;
    }
}

/*********** HELPERS ************/

.text-underline {
  text-decoration: underline;
}
.text-bold {
  font-weight: 700;
}


/*********** SLIDEOUT.JS STYLES *************/
body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: #46555f;
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
  left: auto; /* needed to make the panel slide-out from the right side */
}

.slideout-panel {
  position: relative;
  z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

/******** CUSTOM SLIDEOUT STYLES *******/

nav#menu ul {
    float: left; 
    text-align: left; 
    list-style: none; 
    font-size: 32px; 
    margin: 40px 0 0 20px; 
    padding: 0; 
    font-weight: 200;
}
nav#menu ul li {
    padding: 0 0 15px 0;
}

.close-toggle-button {
    padding: 8px 12px; 
    border: 3px solid white; 
    float: right; 
    margin: 40px 40px 0 0;
}

/********* Intro animation ***********/
#initial-overlay {
    position:absolute;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: #455560;
    z-index: 10000;
}

/*********** Wordpress Themes *************/

body#blog p a img {
    margin: 10px;
}

body#blog p a img.alignleft {
    float:left;
    margin: 0 20px 20px 0;
}

body#blog p a img.alignright {
    float:right;
    margin: 0 0 20px 20pz;
}

body#blog p a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body#blog p a img.aligncenter-maxwidth {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 995px;
    width: 100%;
}
