/*@font-face {
    font-family: 'EkMukta';

    src: url('../fonts/Ek_Mukta/EkMukta-Regular.ttf') format('truetype');
    src: url('../fonts/Ek_Mukta/EkMukta-Medium.ttf') format('truetype');
    src: url('../fonts/Ek_Mukta/EkMukta-Bold.ttf') format('truetype');

    src: url('../fonts/Ek_Mukta/EkMukta-Light.ttf') format('truetype');
    src: url('../fonts/Ek_Mukta/EkMukta-SemiBold.ttf') format('truetype');
    src: url('../fonts/Ek_Mukta/EkMukta-ExtraBold.ttf') format('truetype');
    src: url('../fonts/Ek_Mukta/EkMukta-ExtraLight.ttf') format('truetype');
} */



@font-face {
    font-family: 'EkMukta';
    src: url('../fonts/Ek_Mukta/EkMukta-Regular.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'EkMukta';
    src: url('../fonts/Ek_Mukta/EkMukta-Bold.ttf') format('truetype');
    font-weight: 600;
}


@font-face {
    font-family: 'EkMukta';
    src: url('../fonts/Ek_Mukta/EkMukta-ExtraLight.ttf') format('truetype');
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
}

.ectext {
    font-family: 'EkMukta';
    font-style: normal;
    font-weight: 100;
}

.translucent {
    opacity: 0.4;
    filter: alpha(opacity = 40); /* For IE */
}

a, a:link, a:visited {
    color: white;   
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 55px; 
    font-weight: 100;
    color: white;
    margin: 15px 0 20px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

h2 {
    font-size: 35px; 
    font-weight: 600;
    margin: 0 0 15px;
    -webkit-font-smoothing: antialiased;
}

h3 {
    margin: 0;
    padding: 0;
    color: #f15c22;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
}
a.button-underline {
    font-size: 20px; 
    font-weight:600;
    color: white;
    border-bottom: 3px solid white;
    margin: 100px 0 0 0;
    padding-bottom: 9px;
    text-transform: uppercase;
    text-align: center;
}
a.button-box {
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 600;
    color: white;
    border: 3px solid white;
    padding: 22px 40px;
    margin: 80px auto 20px;
    text-align: center;
    display: block;
    width: 170px;
}

a.orange {
    color: #f15c22;
    border-color: #f15c22;
}

p {
    font-size: 28px; 
    line-height: 44px;
    margin-top: 20px;
}

section {
    font-family: 'EkMukta';
    font-weight: 100; 
    -webkit-font-smoothing: antialiased;
    padding: 80px 0;  
    width: 100%;
}

.row {
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
}

blockquote {
    /* border: 1px solid #fff; */
    border: none;   
    color:#fff; 
    padding: 55px 100px 65px;
    margin: 120px 0 150px;
    font-size: 70px;
    font-weight: 300;
    line-height: 80px;
    /* clip-path: inset(10px 20px 30px 40px); */
    -webkit-font-smoothing: antialiased;
}



@media only screen and (max-width: 768px) {
}

#content {
    position: relative;
    z-index: 1001;
    top: 810px;
    background-color: white;
}

/********** TOP SECTION *********/

section#top {
    position: fixed;
    padding-top: 45px;
    text-align:center;
    background: url(../images/home-masthead-gray-image.jpg) no-repeat top center fixed;
    background-size: cover;
    z-index: -100;
    
}

section#top a.eclogo img {
    display:inline-block;
    width:295px;
    height: 52px;
    float: left;
    background: url(../images/logo_ec_white.png) no-repeat top left;
}

@media only screen and (max-width: 1150px) {
    section#top a.eclogo img {
        width:70px;  
    }
}

@media only screen and (max-width: 985px) {
    blockquote {
        font-size: 60px;
        line-height: 70px;
    }
}

@media only screen and (max-width: 885px) {
    section#top ul li.cta {
        display:none;
    }
    blockquote {
        font-size: 55px;
        line-height: 65px;
    } 
}

section#top .row img {
    float:left;   
}
section#top ul {
    float:right;
    color: #fff;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    list-style: none;
}

section#top ul li {
    float:left;
    padding: 8px;
    margin-left: 10px;
}

section#top ul li.cta {
    border: 1px solid white;
    margin-left: 18px;
    text-transform: uppercase;
    font-weight:600;
    padding: 8px 11px;
    font-size: 16px;
}

section#top div.hamburger {
    float:right;   
    color: white;
    border: 3px solid white;
    height: 50px;
    width: 50px;
    padding: 20px 20px;
    display: none;
}

section#top div.row img.star {
    position:relative;
    top:-165px; 
    clear:both; 
    margin:0; 
    float:none;  
}

@media only screen and (max-width: 690px) {
    section#top ul {
        display:none;
    }   
    section#top div.hamburger {
        display:block;   
    }
}

/********** OUR PROMISE *********/

section#promise {
    top: 800px;
    background-color: #f15c22; 
    color: #fff;
    font-size: 20px;
}


section#promise img {
    margin: 0 0 25px;   
}

section#promise a.button-box {
    width: 220px;  
}


/********** OUR OFFERINGS *********/

section#our-offerings {
    background: url(../images/bg_two_grays.png) repeat-y top center;
}

section#our-offerings ul {
    color:white;
    margin: 30px 0 50px 0;
    padding:0;
}
section#our-offerings ul li {
    list-style: none;
    margin:20px 0;
    font-size: 28px;
}

section#our-offerings ul li.last {
    list-style: none;
    margin:50px 0 20px;
}


/********** OUR CLIENTS *********/

section#our-clients h1 {
    color: #515151;
}

section#our-clients div img.logo {
    height: 150px;   
    margin: 35px 0;
}

section#our-clients div  {
    text-align: center;
    font-size: 20px;
    color: #515151;
}


section#our-clients a.button-box {
    width: 350px;
}

/******** HUNGRY SECTION **********/

section#hungry  {
    background: #f15c22 url(../images/office/photo-girl-working-at-desk-wide.jpg) repeat-y top right; 
    color: #fff;
    padding: 0;
}

section#hungry a.button-box {
    width: 300px;
    margin: 20px 0 80px;
}

section#hungry div.row {
    /* margin:0; padding: 0;  */ 
}

section#hungry p {
    font-size: 22px; 
    line-height: 32px;
    padding-right: 40px; 
}

section#hungry div.no-image {
    /* width: 45%;  */ 
    background-color: #f15c22;
    height: 100%;
}

section#hungry h1 {
    text-align: left;
    margin: 50px 0 40px;
    padding: 35px 60px 0 0;
}

/******** QUOTE SECTION **********/

section#quote blockquote {
    border: 1px solid #e3e8eb;
    color:#455560; 
    padding: 65px 50px;
    margin:0 0 30px 0;
    font-size: 35px;
    font-weight: 100;
    line-height: 55px;
    clip-path: inset(10px 20px 30px 40px);
    -webkit-font-smoothing: antialiased;
}

.quote-cap {
    position: relative; 
    top: 43px; 
    width: 90px; 
    height: 90px; 
    margin:0 auto; 
    background-color: #e3e8eb; 
    color: #f15c22; 
    font-family: 'EkMukta'; 
    font-weight: 100; 
    font-size: 142px; 
    border-radius: 50%; 
    line-height: 190px;
}

/******** GET TO KNOW US SECTION **********/

section#get-to-know  {
    background: #46555f url(../images/photo-neighborhood-rowhomes-wide.jpg) no-repeat top left;
    color: #fff;
    padding: 0;
}

section#get-to-know div.no-image {  
    background-color: #46555f;
}

section#get-to-know a.button-box {
    font-weight: 800;
    width: 200px;
    padding: 20px 40px;
    margin: 20px 0 80px 60px;
}

section#get-to-know p {
    font-size: 22px; 
    line-height: 32px;
    padding-left: 60px;
    margin-bottom: 45px;
}

section#get-to-know h1 {
    text-align: left;
    margin-top: 60px;
    padding: 35px 0  0 60px;
}

/******** FROM THE BLOG SECTION **********/

section#from-the-blog {
    background-color: #f7f7f7;    
}


section#from-the-blog h1 {
    color: #46555f;
}

section#from-the-blog h2 {
    color: #46555f;
    margin-top: 35px;
}

section#from-the-blog p {
    margin-top: 22px;
    color: #46555f;
    font-size: 20px;
    line-height: 32px;
}

section#from-the-blog a.button-box {
    width: 370px;
}

/******** FOOTER **********/

section#footer {
    background-color: #46555f;    
}

section#footer a, section#footer a:link, section#footer a:visited, section#footer a:hover {
    color: white;   
    border-bottom: 1px solid white;
    text-decoration:none;
}

section#footer ul {
    list-style: none;
    font-size: 14px;
    font-weight: 300;
    color: white;
    margin: 0;
    padding: 0;
}

section#footer ul li {
    float:left;
    margin: 0 15px 15px;    
}

section#footer a img {

    float: right;
    margin-right: 15px;
}

.img-link {
    text-decoration: none;
}
/*********** HELPERS ************/

.text-underline {
  text-decoration: underline;
}
.text-bold {
  font-weight: bold;
}


